.appTitle, .appTitle:visited, .appTitle:active, .appTitle:hover, .appTitle:focus {
  text-decoration: none;
  text-align: left;
  font-size: 1.6em;
  color: black;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
}

.backgroundImage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center top;
}

.searchAdd {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: relative;
  display: block;
  margin: 40px 0px;
  padding-bottom:  20px;
  text-align: center;
}

.container {
  position: relative;
  z-index: 50;
}

.cardSlot {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  background-color: white;
  width: 100%;
  height: 550px;
  padding: 10px;
}

.cardSlot .photo {
  width: 100%;
  height: 300px;
}

.cardSlot .photo img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.animalCard, .animalCard:visited, .animalCard:active, .animalCard:hover, .animalCard:focus {
  text-decoration: none;
  color: black;
}

.clientCard, .clientCard:visited, .clientCard:active, .clientCard:hover, .clientCard:focus {
  text-decoration: none;
  color: black;
}

.animalCard > h2, .clientCard > h3 {
  color: #B26BFF;
}

.btn {
  color: white;
  font-size: 1.2em;
  border-radius: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
}

.pBtn {
  background-color: #B26BFF;
}

.animalDetails, .clientDetails {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
  padding: 20px 0;
}

.animalDetails h1, .clientDetails h1 {
  color: #B26BFF
}

.animalDetails .photo img, .clientDetails .photo img {
  object-fit: contain;
  width: 100%;
}

/*MODAL*/

.modalOpen {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  background-position: center;
}

.modalContent {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 5vh 5vw;
  width: 80vw;
  margin: 10vh auto;
}

.close {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.25);
  opacity: inherit;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  margin-bottom: 20px;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  transition: text-shadow 0.1s, color 0.1s;
  opacity: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btnModal {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #C46538;
  position: absolute;
  padding: 10px 40px;
  bottom: 5vh;
  left: 5vw;
}

.btnModal:hover,
.btnModal:focus {
  color: #C46538;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.1s;
}

.modalClosed {
  display: none;
}
